@import url(./normalize.css);
/* -- Variables -- */
/* -- Global Styles -- */
body, html {
  padding: 0;
  font-size: 14px;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

body {
  padding-bottom: 6em; }

h1 {
  color: #29B6F6; }

.accent {
  color: #29B6F6; }

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 4em; }

.section {
  padding: 3em 0; }

.row {
  display: flex;
  margin: 0 -2em; }

.col {
  flex: 1;
  margin: 1em 2em; }

.center {
  text-align: center; }

p {
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 300; }

.clearfix {
  clear: both; }

/* -- Forms -- */
.button {
  border-radius: 3px;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  display: inline-block;
  border-style: none;
  background: #29B6F6; }
  .button:hover {
    background: #0a9fe2; }
  .button:focus {
    outline: 0; }
  .button:active {
    background: #20b9ff; }

.input, .input-group {
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  background: #FFF;
  border-radius: 3px;
  font-weight: 300;
  border-style: none;
  display: inline-block;
  outline: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
  .input:focus, .input-group:focus {
    outline: 0; }

.input-group {
  padding: 0;
  margin-bottom: 2em; }
  .input-group input {
    border-style: none;
    box-shadow: none; }
  .input-group .button {
    margin: 0.5em 0.5em 0 0.5em;
    padding: 0.5em 1em; }

/* -- Hero -- */
.hero {
  background: #333 url("./img/hero.jpg");
  background-position: center center;
  margin-bottom: 3em;
  background-size: cover; }
  .hero .hero-content {
    padding: 10em 2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); }
    .hero .hero-content h1, .hero .hero-content h3 {
      color: #FFF; }
    .hero .hero-content h1 {
      font-size: 4em;
      margin: 0 0 0.3em 0; }
    .hero .hero-content h3 {
      font-size: 1.5em;
      margin: 0 0 1.75em 0;
      font-weight: 300; }
    .hero .hero-content .input-group .input, .hero .hero-content .input-group .input-group {
      width: 12em; }

/* -- About -- */
.side-image {
  background: #EEE url("./img/side.jpg");
  background-position: center center;
  background-size: cover; }

/* -- Sponsors -- */
.sponsor-items {
  font-size: 0;
  text-align: center; }
  .sponsor-items .sponsor {
    font-size: 14px;
    text-decoration: none;
    background-size: contain;
    width: 27%;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    height: 5em;
    margin: 2em 3%; }
    .sponsor-items .sponsor:hover {
      text-decoration: none;
      opacity: 0.6; }
    .sponsor-items .sponsor.small {
      width: 10%;
      margin: 1em 2%;
      height: 3em; }

/* -- Frequently Asked -- */
.freq .col h2 {
  margin-top: 2em; }

/* -- Responsive -- */
@media (max-width: 650px) {
  body {
    font-size: 12px; }

  .section {
    padding: 1.5em 0; }

  .row {
    display: block; }

  .center {
    text-align: left; }

  .sponsor-items .sponsor {
    width: 44%; }
    .sponsor-items .sponsor.small {
      width: 29%; } }

/*# sourceMappingURL=main.css.map */
