@import "./normalize.css";

/* -- Variables -- */
$brand: #29B6F6;

/* -- Global Styles -- */
body, html {
    padding: 0;
    font-size: 14px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
body {
    padding-bottom: 6em;
}
h1 {
    color: $brand;
    text-align: center
}
.accent {
    color: $brand;
}
.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 4em;
}
.section {
    padding: 3em 0;
}
.row {
    display: flex;
    margin: 0 -2em;
}
.col {
    flex: 1;
    margin: 1em 2em;
}
.center {
    text-align: center;
}
p {
    font-size: 1em;
    line-height: 1.75em;
    font-weight: 300;
}
.clearfix {
    clear: both;
}

/* -- Forms -- */
.button {
    border-radius: 3px;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    display: inline-block;
    border-style: none;
    background: $brand;
    &:hover {
        background: darken($brand, 10%);
    }
    &:focus {
        outline: 0;
    }
    &:active {
        background: saturate($brand, 10%);
    }
}
.button-lg {
    font-size: 16px;
    padding: 1em 1.5em;
}
.button-disabled{
  opacity: 0.85;
  cursor: not-allowed;
}
.input {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
    border-radius: 3px;
    font-weight: 300;
    border-style: none;
    display: inline-block;
    outline: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    &:focus {
        outline: 0;
    }
}
.input-group {
    @extend .input;
    padding: 0;
    input {
        border-style: none;
        box-shadow: none;
    }
    .button {
        margin: 0.5em 0.5em 0 0.5em;
        padding: 0.5em 1em;
    }
    margin-bottom: 2em;
}

/* -- Hero -- */
.hero {
    background: #333 url('../img/hero.jpg');
    background-position: center center;
    margin-bottom: 3em;
    background-size: cover;
    .hero-content {
        padding: 10em 2em;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        h1, h3 {
            color: #FFF;
        }
        h1 {
            font-size: 4em;
            margin: 0 0 0.3em 0;
        }
        h3 {
            font-size: 2em;
            margin: 0 0 1em 0;
            font-weight: 300;
        }
        .input-group .input {
            width: 12em;
        }
    }
}

/* -- About -- */
.side-image {
    background: #EEE url('../img/side.jpg');
    background-position: center center;
    background-size: cover;
}

.map-col {
  padding-top: 10vh;
  padding-bottom: 10vh
}

/* -- Table -- */
table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2}

table, th, td {
    border: 2px solid white;
}

th, td {
    padding: 15px;
}

th {
  background-color: $brand;
  color: white;
  height: 25px;
  text-align: center;
}

td {
    height: 10px;
    text-align: left;
    vertical-align: middle;
}

.hardware td, th{
  text-align: center;

}
/* -- Sponsors -- */
.sponsor-items {
    font-size: 0;
    text-align: center;
    .sponsor {
        font-size: 14px;
        text-decoration: none;
        background-size: contain;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 1em 2%;
        &.platinum {
            height: 11em;
            width: 46%
        }
        &.gold {
            height: 9em;
            width: 35%
        }
        &.silver {
            height: 4em;
            width: 29%;
            /* Hack (for .tech only) */
            margin-bottom: 2em;
        }
        &.bronze {
            height: 3em;
            width: 29%;
        }
        &.small {
            height: 3em;
            width: 20%;
        }
        &:hover {
            text-decoration: none;
            opacity: 0.6;
        }
    }
}


/* -- Frequently Asked -- */
.freq {
    .col h2 {
        margin-top: 2em;
    }
}


/* -- Responsive -- */
@media (max-width: 650px) {
    body {
        font-size: 12px;
    }
    .section {
        padding: 1.5em 0;
    }
    .row {
        display: block;
    }
    .center {
        text-align: left;
    }
    .sponsor-items {
        .sponsor {
            &.platinum {
                height: 6em;
            }
            &.gold {
                height: 5em;
            }
            &.silver {
                height: 4em;
            }
            &.bronze {
                height: 3em;
            }
            &.small {
                height: 3em;
                width: 29%;
            }
        }
    }
}
