body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .container {
	width: 100%;
	padding-bottom: 5%;
	text-align: center;
}

h1 {
	font-size: 3em;
	letter-spacing: 0.2em;
	color: white;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.75em;
	letter-spacing: 0.2em;
	color: white;
}

form {
	margin: 3em 0;
}

input {
	padding: 10px;
	font-size: 1em;
	letter-spacing: 0.1em;
	color: #ddd;
	background-color: transparent;
	border: 1px #ddd solid;
}

input[type=email] {
	width: 400px;
	padding-right: 110px;
	border-radius: 10px;
}

input[type=submit] {
	width: 120px;
	margin-left: -125px;
	border: none;
	border-left: 1px #ddd solid;
	cursor: pointer;
}

input[type=submit]:focus {
	color: #bbb;
}

.button {
	text-decoration: none;
	color: #bbb;
	margin: 0 1em;
	padding: 8px 16px;
	border: 1px solid #bbb;
	font-size: 1.1em;
	letter-spacing: 0.1em;
}

*:focus {
	outline: none;
}

@media (max-width: 550px) {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	input {
		padding: 8px;
		font-size: 0.9em;
	}

	input[type=email] {
		width: 300px;
		padding-right: 108px;
	}

	input[type=submit] {
		width: 100px;
		margin-left: -104px;
	}

	.button {
		margin: 0 1em;
		padding: 7px 14px;
		font-size: 1em;
	}
}

@media (max-width: 450px) {
	h1 {
		font-size: 2.25em;
	}

	h2 {
		font-size: 1.25em;
	}

	input {
		padding: 7px;
		font-size: 0.8em;
	}

	input[type=email] {
		width: 200px;
		padding-right: 103.5px;
	}

	input[type=submit] {
		width: 85px;
		margin-left: -88.5px;
	}

	.button {
		margin: 0 0.9em;
		padding: 6px 12px;
		font-size: 0.8em;
	}
}

.about {
	padding: 2em;
	background-color: #111;
	color: #eee;
}
