html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #000000;
	position: relative;
    font-family: 'Roboto', sans-serif;
	/*font-family: 'Aldrich', sans-serif;*/
}

.content {
	width: 75%;
}

.content .intro-text {
	margin: 0;
	font-size: 96px;
	text-align: center;
}

.content .about-text {
	color: #FFFFFF;
	margin: 64px 0;
	font-size: 24px;
	font-family: 'Maven Pro', sans-serif;
	line-height: 175%;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.content .about-text.hidden,
.content .signup-form.hidden {
	opacity: 0;
}

@media (max-width: 550px) {
	.content {
		width: 100%;
	}
	.content .intro-text {
		font-size: 64px;
	}
	.content .about-text {
		margin: 32px 16px;
		font-size: 16px;
		line-height: 150%;
	}
}

.color1 {
	color: #827BBE;
}

.color2 {
	color: #CCCCCC;
}

.content .intro-text .cursor {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
	visibility: hidden;
}

.content .intro-text .cursor-offset {
	visibility: hidden;
}

.content .signup-form {
	text-align: center;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.content .signup-form .label {
	color: #FFFFFF;
	font-size: 24px;
	margin-bottom: 16px;
}

.content .signup-form input {
	border-width: 0;
	font-size: 18px;
	padding: 8px;
	margin-bottom: 8px;
	background-color: #FFFFFF;
	font-family: 'Maven Pro', sans-serif;
}

.content .signup-form div.mce_inline_error {
	background-color: transparent !important;
	font-size: 14px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: normal !important;
	margin-bottom: 4px !important;
}

.content .signup-form .response {
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Maven Pro', sans-serif;
}

@media (max-width: 550px) {
	.content .signup-form .label {
		font-size: 20px;
		margin-bottom: 8px;
	}

	.content .signup-form input {
		font-size: 16px;
		padding: 6px;
		margin-bottom: 6px;
	}

	.content .signup-form div.mce_inline_error {
		font-size: 12px;
	}

	.content .signup-form .response {
		font-size: 12px;
	}
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes blink {
	from, to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-moz-keyframes blink {
	from, to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-webkit-keyframes blink {
	from, to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-o-keyframes blink {
	from, to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
